

.productFormViewContainer {
    padding: '2rem';
    display: grid;
    // grid-template-columns: 1fr;
    gap: 1rem;
margin-bottom: 20px;
margin-top: 20px;
    input {
        height: 25px;
    }

    
}


.btn{
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-radius: 24px;
    border-style: none;
    
    &:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
    }
    
    &:focus {
      outline: none;
      border: 2px solid #4285f4;
    }   
  }
  